<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SEN381_Pr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SEN381_Pr.Properties.Settings>
            <setting name="DefaultBackColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="DefaultTextColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
        </SEN381_Pr.Properties.Settings>
    </userSettings>
</configuration>